div {
    display: grid;
    justify-content: center;
}

h1 {
    color: silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

li {
    list-style-type: none;
    color: darkblue
}